<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/output.css" />
    <!-- tailwind CDN -->
    <!-- Robot font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet" />
    <!-- Playwrite CU font -->
    <!-- TODO:DELETE THIS in the future -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet" />
    <title>Department</title>
</head>

<body>
    <!-- Landing section: Introduction with background image and text -->
    <section
        class="landing m-0 flex h-[31vh] w-full items-center justify-center bg-[url('/assets/department/imgs/landing.png')] bg-cover bg-center p-0 shadow-4xl lg:h-[46vh]">
        <!-- DONE: Change the gap fpr latger screen -->
        <div class="text flex flex-col items-center justify-center gap-4 lg:gap-6 text-center text-white">
            <h1 class="text-3xl font-bold md:text-5xl lg:text-7xl">Departments</h1>
            <!-- DONE: make the font lighter for small screen -->
            <p class="text-lg md:text-2xl lg:text-3xl font-light md:font-normal px-4">Experienced in multiple medical
                specialties</p>
        </div>
    </section>
    <!-- End of Landing section -->

    <!-- TODO: CONVER THE SEARCH ICON -->

    <!-- Searching section: This is searching box with searching button -->
    <section class="searching container mx-auto flex flex-col px-7 md:px-5">
        <div class="flex flex-col items-center md:flex-row md:justify-between">
            <div class="inbut_box relative mx-auto mt-7 flex w-full md:mx-0 md:w-5/12 lg:w-6/12">
                <input
                    class="h-10 w-full rounded-lg border-2 bg-gray-50 px-3 pr-16 text-lg shadow-3xl transition focus:border-[#06F] focus:outline-none md:h-12 md:rounded-full"
                    type="search" name="search" placeholder="Search By Specialty" />
                <button type="submit" class="absolute right-2 top-2 mr-4 md:top-3">
                    <svg class="h-6 w-6 fill-current text-black" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                        viewBox="0 0 56.966 56.966" style="enable-background: new 0 0 56.966 56.966"
                        xml:space="preserve" width="512px" height="512px">
                        <path
                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                    </svg>
                </button>
            </div>
            <div>
                <button
                    class="mt-6 flex w-40 items-center justify-center rounded-lg bg-[#06F] p-2 text-lg text-white hover:bg-[#003E9A] md:rounded-full">Search</button>
            </div>
        </div>
        <!-- COMMENT: Just for inspiration -->
        <!-- <div class="inbut_box mt-7 flex w-full relative bg-white p-1.5 rounded-lg  h-9">
        <input class="w-full" placeholder="Search By name" type="text" name="" id="" />
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6 absolute right-3 ">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>
    </div> -->
    </section>
    <!-- End of Searching section -->

    <!-- Department section: This is the Department icon section -->
    <!-- DONE: 4 cards on 17inch -->
    <!-- DONE: 1 column on less than 350px -->
    <section
        class="department-icon container mx-auto mt-7 grid grid-cols-2 grid-rows-6 gap-3 px-7 md:grid-cols-3 md:grid-rows-4 md:gap-5 md:px-5 3xl:grid-cols-4 3xl:grid-rows-3 xsm:grid-cols-1 xsm:grid-rows-1">
        <div
            class="card group flex flex-col items-center justify-center rounded-2xl bg-white p-3 shadow-3.5xl hover:bg-[#C1C1C1]">
            <img src="/assets/department/imgs/brain-icon.svg" alt="" class="w-[90px] pb-1.5" />
            <h3 class="pb-2 text-xl font-semibold group-hover:text-[#06F]">Neurology</h3>
            <p class="text-center text-sm text-[#646464] group-hover:text-white">Tread diseases of the brain and spinal
                cord, peripheral nerves and muscle</p>
        </div>

        <div
            class="card group flex flex-col items-center justify-center rounded-2xl bg-white p-3 shadow-3.5xl hover:bg-[#C1C1C1]">
            <img src="/assets/department/imgs/brain-icon.svg" alt="" class="w-[90px] pb-1.5" />
            <h3 class="pb-2 text-xl font-semibold group-hover:text-[#06F]">Neurology</h3>
            <p class="text-center text-sm text-[#646464] group-hover:text-white">Tread diseases of the brain and spinal
                cord, peripheral nerves and muscle</p>
        </div>
        <div
            class="card group flex flex-col items-center justify-center rounded-2xl bg-white p-3 shadow-3.5xl hover:bg-[#C1C1C1]">
            <img src="/assets/department/imgs/brain-icon.svg" alt="" class="w-[90px] pb-1.5" />
            <h3 class="pb-2 text-xl font-semibold group-hover:text-[#06F]">Neurology</h3>
            <p class="text-center text-sm text-[#646464] group-hover:text-white">Tread diseases of the brain and spinal
                cord, peripheral nerves and muscle</p>
        </div>
        <div
            class="card group flex flex-col items-center justify-center rounded-2xl bg-white p-3 shadow-3.5xl hover:bg-[#C1C1C1]">
            <img src="/assets/department/imgs/brain-icon.svg" alt="" class="w-[90px] pb-1.5" />
            <h3 class="pb-2 text-xl font-semibold group-hover:text-[#06F]">Neurology</h3>
            <p class="text-center text-sm text-[#646464] group-hover:text-white">Tread diseases of the brain and spinal
                cord, peripheral nerves and muscle</p>
        </div>
        <div
            class="card group flex flex-col items-center justify-center rounded-2xl bg-white p-3 shadow-3.5xl hover:bg-[#C1C1C1]">
            <img src="/assets/department/imgs/brain-icon.svg" alt="" class="w-[90px] pb-1.5" />
            <h3 class="pb-2 text-xl font-semibold group-hover:text-[#06F]">Neurology</h3>
            <p class="text-center text-sm text-[#646464] group-hover:text-white">Tread diseases of the brain and spinal
                cord, peripheral nerves and muscle</p>
        </div>
        <div
            class="card group flex flex-col items-center justify-center rounded-2xl bg-white p-3 shadow-3.5xl hover:bg-[#C1C1C1]">
            <img src="/assets/department/imgs/brain-icon.svg" alt="" class="w-[90px] pb-1.5" />
            <h3 class="pb-2 text-xl font-semibold group-hover:text-[#06F]">Neurology</h3>
            <p class="text-center text-sm text-[#646464] group-hover:text-white">Tread diseases of the brain and spinal
                cord, peripheral nerves and muscle</p>
        </div>
        <div
            class="card group flex flex-col items-center justify-center rounded-2xl bg-white p-3 shadow-3.5xl hover:bg-[#C1C1C1]">
            <img src="/assets/department/imgs/brain-icon.svg" alt="" class="w-[90px] pb-1.5" />
            <h3 class="pb-2 text-xl font-semibold group-hover:text-[#06F]">Neurology</h3>
            <p class="text-center text-sm text-[#646464] group-hover:text-white">Tread diseases of the brain and spinal
                cord, peripheral nerves and muscle</p>
        </div>
        <div
            class="card group flex flex-col items-center justify-center rounded-2xl bg-white p-3 shadow-3.5xl hover:bg-[#C1C1C1]">
            <img src="/assets/department/imgs/brain-icon.svg" alt="" class="w-[90px] pb-1.5" />
            <h3 class="pb-2 text-xl font-semibold group-hover:text-[#06F]">Neurology</h3>
            <p class="text-center text-sm text-[#646464] group-hover:text-white">Tread diseases of the brain and spinal
                cord, peripheral nerves and muscle</p>
        </div>
        <div
            class="card group flex flex-col items-center justify-center rounded-2xl bg-white p-3 shadow-3.5xl hover:bg-[#C1C1C1]">
            <img src="/assets/department/imgs/brain-icon.svg" alt="" class="w-[90px] pb-1.5" />
            <h3 class="pb-2 text-xl font-semibold group-hover:text-[#06F]">Neurology</h3>
            <p class="text-center text-sm text-[#646464] group-hover:text-white">Tread diseases of the brain and spinal
                cord, peripheral nerves and muscle</p>
        </div>
        <div
            class="card group flex flex-col items-center justify-center rounded-2xl bg-white p-3 shadow-3.5xl hover:bg-[#C1C1C1]">
            <img src="/assets/department/imgs/brain-icon.svg" alt="" class="w-[90px] pb-1.5" />
            <h3 class="pb-2 text-xl font-semibold group-hover:text-[#06F]">Neurology</h3>
            <p class="text-center text-sm text-[#646464] group-hover:text-white">Tread diseases of the brain and spinal
                cord, peripheral nerves and muscle</p>
        </div>
        <div
            class="card group flex flex-col items-center justify-center rounded-2xl bg-white p-3 shadow-3.5xl hover:bg-[#C1C1C1]">
            <img src="/assets/department/imgs/brain-icon.svg" alt="" class="w-[90px] pb-1.5" />
            <h3 class="pb-2 text-xl font-semibold group-hover:text-[#06F]">Neurology</h3>
            <p class="text-center text-sm text-[#646464] group-hover:text-white">Tread diseases of the brain and spinal
                cord, peripheral nerves and muscle</p>
        </div>
        <div
            class="card group flex flex-col items-center justify-center rounded-2xl bg-white p-3 shadow-3.5xl hover:bg-[#C1C1C1]">
            <img src="/assets/department/imgs/brain-icon.svg" alt="" class="w-[90px] pb-1.5" />
            <h3 class="pb-2 text-xl font-semibold group-hover:text-[#06F]">Neurology</h3>
            <p class="text-center text-sm text-[#646464] group-hover:text-white">Tread diseases of the brain and spinal
                cord, peripheral nerves and muscle</p>
        </div>
    </section>
    <!-- End fo Department section-->

    <!-- Pagination Section -->
    <!-- <nav class="my-12 flex justify-center items-center -space-x-px shadow-pagination-shadow" aria-label="Pagination"> -->
    <!-- TODO: CHANGE THE FONT SIZE WHEN HOVERING    -->
    <nav class="my-12 flex items-center justify-center" aria-label="Pagination">
        <div class="inline-flex rounded-lg shadow-pagination-shadow">
            <button type="button"
                class="inline-flex min-h-[38px] min-w-[38px] items-center justify-center gap-x-1.5 border border-gray-200 px-2.5 py-2 text-sm text-gray-400 first:rounded-s-lg last:rounded-e-lg hover:bg-[#DEEBFF] focus:bg-gray-300 focus:outline-none disabled:pointer-events-none disabled:opacity-50"
                aria-label="Previous">
                <svg class="size-3.5 shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6"></path>
                </svg>
                <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="24" height="24" class="size-3.5 shrink-0">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                </svg> -->
                <span class="sr-only">Previous</span>
            </button>

            <button type="button"
                class="flex min-h-[38px] min-w-[38px] items-center justify-center border border-gray-200 px-3 py-2 text-sm font-medium first:rounded-s-lg last:rounded-e-lg focus:bg-gray-300  focus:outline-none disabled:pointer-events-none disabled:opacity-50 aria-[current=page]:bg-[#0066FF] aria-[current=page]:text-white aria-[current=page]:border-x-0"
                aria-current="page">1</button>

            <button type="button"
                class="flex min-h-[38px] min-w-[38px] items-center justify-center border border-gray-200 px-3 py-2 text-sm font-medium text-gray-400 first:rounded-s-lg last:rounded-e-lg hover:bg-[#DEEBFF] focus:bg-gray-300 focus:outline-none disabled:pointer-events-none disabled:opacity-50 aria-[current=page]:bg-[#0066FF] aria-[current=page]:text-white aria-[current=page]:border-x-0">2</button>
            <button type="button"
                class="flex min-h-[38px] min-w-[38px] items-center justify-center border border-gray-200 px-3 py-2 text-sm font-medium text-gray-400 first:rounded-s-lg last:rounded-e-lg hover:bg-[#DEEBFF] focus:bg-gray-300 focus:outline-none disabled:pointer-events-none disabled:opacity-50 aria-[current=page]:bg-[#0066FF] aria-[current=page]:text-white aria-[current=page]:border-x-0">3</button>
            <div class="hs-tooltip inline-block border border-gray-200">
                <button type="button"
                    class="hs-tooltip-toggle group flex min-h-[36px] hover:bg-[#DEEBFF] min-w-[36px] items-center justify-center p-2 text-sm font-medium text-gray-400 hover:text-blue-600 focus:bg-gray-300 focus:outline-none disabled:pointer-events-none disabled:opacity-50 aria-[current=page]:bg-[#0066FF] aria-[current=page]:text-white aria-[current=page]:border-x-0">
                    <span class="text-xs group-hover:hidden">•••</span>
                    <svg class="hidden size-5 shrink-0 group-hover:block" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path d="m6 17 5-5-5-5"></path>
                        <path d="m13 17 5-5-5-5"></path>
                    </svg>
                    <span
                        class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible invisible absolute z-10 inline-block rounded bg-gray-900 px-2 py-1 text-xs font-medium text-white opacity-0 shadow-sm transition-opacity"
                        role="tooltip"> Next 4 pages </span>
                </button>
            </div>
            <button type="button"
                class="flex min-h-[38px] min-w-[38px] items-center justify-center border border-gray-200 px-3 py-2 text-sm text-gray-400 first:rounded-s-lg last:rounded-e-lg hover:bg-[#DEEBFF] focus:bg-gray-300 focus:outline-none disabled:pointer-events-none disabled:opacity-50 aria-[current=page]:bg-[#0066FF] font-medium aria-[current=page]:text-white aria-[current=page]:border-x-0">8</button>
            <button type="button"
                class="inline-flex min-h-[38px] min-w-[38px] items-center justify-center gap-x-1.5 border border-gray-200 px-2.5 py-2 text-sm text-gray-400 first:rounded-s-lg last:rounded-e-lg hover:bg-[#DEEBFF] focus:bg-gray-300 focus:outline-none disabled:pointer-events-none disabled:opacity-50"
                aria-label="Next">
                <span class="sr-only">Next</span>
                <svg class="size-3.5 shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6"></path>
                </svg>
            </button>
        </div>
    </nav>
    <!-- End of Pagination Section -->
</body>

</html>